<header>
  <div class="main-header" id="add-sticky">
    <div class="container-fluid">
      <div class="row align-items-center">
        <!-- header logo -->
        <div class="col-xl-2 col-lg-2 col-md-3 logo-wrapper">
          <div class="header-logo d-flex justify-content-start justify-content-xl-center">
            <a href="index.html"><img src="https://www.erse.com.tr/images/logo.png" alt="Logo"></a>
          </div>
        </div>
        <!-- navigation -->
        <div class="col-xl-8 col-lg-8 col-md-10 nav-wrapper">
          <nav id="mobile-menu-active">
            <ul>

              <li><a href="index.html">Anasayfa</a></li>
              <li><a href="#">Kurumsal</a>
                <ul class="sub-menu">
                  <li><a routerLink="/about-us">Hakkımızda</a></li>
                  <li><a routerLink="/company-profile">Firma Profili</a></li>
                  <li><a routerLink="/environment-information">Çevre Bilgilendirmesi</a></li>
                  <li><a routerLink="/certificate">Sertifika</a></li>
                  <li><a routerLink="/human-resources">İnsan Kaynakları</a></li>
                </ul>
              </li>
              <li><a routerLink="/production">Üretim</a></li>
              <li><a href="showroom.html">Showroom</a></li>
              <li><a routerLink="/contact">İletişim</a></li>

            </ul>
          </nav>
        </div>
        <!-- header link -->
        <div class="col-xl-2 col-lg-2 d-none d-lg-block link-wrapper">
          <div class="header-link d-flex align-items-center">
            <div class="social-link">
              <h6>Dil Seçimi :</h6>
            </div>
            <div class="lang-opt d-flex align-items-center">
              <ul>
                <li>
                  <div class="flag">
                    <img src="assets\img\slider\tr.png" alt="Flag">
                  </div> <i class="fas fa-angle-down"></i>

                  <ul class="sub-lang">
                    <li>
                      <a href="#">
                        <div class="flag"> <img src="assets\img\slider\tr.png" alt="Flag"></div>
                        Türkçe
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="flag"> <img src="assets\img\slider\en.png" alt="Flag"></div>
                        İngilizce
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="flag"> <img src="assets\img\slider\fr.png" alt="Flag"></div>
                        Fransızca
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xl-12">
          <div class="mobile-menu header-1"></div>
        </div>
      </div>
    </div>
  </div>
</header>