


<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



  <!--********************************
    ***** Code Start From Here *****
    ******************************** -->

  <!-- preloader -->
  <!-- <div class="preloader"></div> -->





 
  <!-- course area -->
  <section class="course-area pt-80 pb-10">
    <div class="container">
      <!-- section title -->
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-10">
          <div class="section-title text-center">
            <h2>Daha İyi kalite, esneklik, tasarım</h2>
            <p class="inf-ndx"> Müşterilerimiz ile yakın ilişkiler kurmayı ve sürekli gelişme ilkesini prensip edinerek, 40 yılı geride bırakmış bir Türk tekstil üreticisiyiz.

              Zamanla, büyük uluslararası markalar için önemli bir tedarikçi haline gelmeyi başardık. Teknik gelişim, kalite, yenilikçiliğe verdiğimiz önem, değerlerimizi yönlendirmeye devam etmektedir. <br><br>
              Erse, modern ve çabuk değişen uluslararası pazarda, farklı giyim sektörlerinde hizmet etmek için ideal biçimde konumlanmıştır. İstanbul'da bulunan merkezimizden, kadın giyimi, erkek giyimi ve çocuk giyiminde kanıtlanmış uzmanlığımı sunuyoruz.<br><br>

            </div>
        </div>
      </div> 
    </div>
  </section>
  
 
  <!-- Like Us Area -->
  <section class="like-us-wrap pb-130">
    <div class="bg-1">
      <img src="assets\img\like-us\like-us-bg-1.png" class="img-fluid h-100" alt="Faq Bg">
    </div>
    <div class="bg-2 d-none d-lg-block">
      <img src="assets\img\like-us\like-us-bg-2.jpg" class="img-fluid h-100" alt="Faq Bg"> 
    </div>
    <div class="container">
      <div class="row">
        <!-- Like Us Area -->
        <div class="col-lg-8">
          <div class="like-us-area pt-125">
            <div class="like-us-title">
              <h2><img src="assets\img\slider\logo-white.png"></h2>
              <p>
                Farklı taleplerinizi karşılamak için uzman bir teknoloji ekibimizle hizmetinizdeyiz. Ayrıca ürün tasarım sürecinin her aşamasını başarılı şekilde yöneten bir tasarım ekibine sahibiz.<br><br> Yaratıcı tasarım ekibimiz, kısa talimat veya teknik özelliklerinize dayanarak mükemmel ürün tasarımları sunabilmektedir. Geniş kapsamlı sektör bilgisi ve piyasa bilgilerine sahip tasarımcılarımız,  sürekli son trendler hakkında araştırma yürütmektedir.</p>
            </div>
            <!-- Like Us Faq Area -->
            <div class="like-us-faq" id="accordion">
              <!-- Single FAQ -->
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Sosyal Uygunluk ve Etik Standartlar </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <p>Erse olarak, İş Etiği kuralları,  İş Sağlığı ve Güvenliği ve  Sosyal Uyum konularında en yüksek standartları yakalamayı hedefliyoruz. Birlikte çalıştığımız fabrikaların da bu standartlara uymalarını dikkat etmekteyiz. Firmamız ve müşterilerimiz bu fabrikaları sürekli denetlemektedir.

                      Bu fabrikaların Fırsat Eşitliği ve Güvenli ve Sağlıklı çalışma koşulları tanıdıklarından emin oluyoruz.
                      
                      İşimizin her bölümünde, aktif temiz üretim yaklaşımları benimseyerek çevre kirliliği yaratmaktan kaçınmayı hedefliyoruz.<br><br>
                      
                      Gerçekleştirdiğimiz çevresel uygulamalar;
                      
                      • Temel yönetimde alınan önlemler
                      
                      • Enerji verimliliği arttırma
                      
                      • Teknolojik gelişmeler
                      
                      • Üretim süreçlerinde verimliliği artırmak için değişiklikler
                      
                      • Ekipman değişiklikleri
                      
                      • Ürün ve tasarım değişimleri
                      
                      • Çevre dostu olan hammadde ve kimyasal kullanım arttırımı
                      
                      • Kayıpları en aza indirmek için hammadde kontrolü</p>
                  </div>
                </div>
              </div>
              <!-- Single FAQ End -->
              <!-- Single FAQ -->
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Bilgi Güvenliği Politikası</button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    <p> ERSE TEKSTİL ve çalışanları olarak, iş sürekliliğimize ve bilgi varlıklarımıza yönelik her türlü riski yönetmek amacıyla;<br><br>

                      Bilgi güvenliği yönetim sistemimizin ISO 27001:2013 standardının gereklerini yerine getirecek şekilde dokümante edilmesi, belgelendirilmesi ve sürekli iyileştirilmesi,
                      Bilgi güvenliği ile ilgili tüm yasal mevzuat ve sözleşmelere uyulması,
                      Bilgi varlıklarına yönelik risklerin sistematik olarak yönetilmesi,
                      Bilgi güvenliği farkındalığını artırmak amacıyla teknik ve davranışsal yetkinlikleri geliştirecek eğitimlerin gerçekleştirilmesi,
                      yönünde faaliyetlerimizi, uyguladığımız diğer yönetim sistemleri ile birlikte bütünleşik bir şekilde yöneterek, tekstil sektöründe bilgi güvenliği açısından öncülüğümüzle örnek bir kuruluş olmak için tüm gücümüzle çalışırız.</p>
                  </div>
                </div>
              </div>
              <!-- Single FAQ End -->
              <!-- Single FAQ -->
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Kalite Politikamız</button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    <p>ERSE TEKSTİL SAN. VE TİC. A.Ş olarak ; Tekstil Üretimi Satışı ve Pazarlaması kapsamında;<br><br>

                      Misyonumuz, üstün hizmet standartları ile yenilikçi ve artı değerler sunarak, güçlü sosyal uyum ile ileri tedarik çözümleri üreterek müşrerilerimize hizmet vermektedir.<br><br>
                      
                       
                      
                      İş Etiği kuralları, İş Sağlığı ve Güvenliği ve Sosyal Uyum konularında en yüksek standartları yakalamayı hedefliyoruz. Birlikte çalıştığımız fabrikaların da bu standartlara uymalarına dikkat etmekteyiz. Firmamız ve müşterilerimiz bu fabrikalrı sürekli denetlemektedir. Bu fabrikaların Fırsat Eşitliği ve Güvenli ve Sağlıklı çalışma koşulları tanıdıklarından emin oluyoruz.
                      
                      <br><br>
                      
                      İşimizin her bölümünde, aktif temiz üretim yaklaşımları benimseyerek çevre kirliliği yaratmaktan kaçınmayı hedefliyoruz. Hizmet verdiğimiz müşterilerimizin memnuniyetine odaklanarak, kalite ve yasal şartlar çerçevesinde güvenilir ve sürekli hizmet vermeyi ilke ediniyoruz. Müşteri ihtiyaçlarını zamanında ve en uygun şeklinde karşılayarak. Saygın bir firma olarak dürüstlükten taviz vermeden her noktada sürekli iyileşmeyi temel felsefemiz olarak belirlemek şirket olarak politikamızdır.</p>
                  </div>
                </div>
              </div>
              <!-- Single FAQ End -->
              <!-- Single FAQ -->
 
            </div>
            <!-- Like Us Faq Area End -->
          </div>
        </div>
        <!-- Like Us Area End -->
        <!-- Like Us Video btn -->
        <!-- Like Us Video btn End -->
      </div>
    </div>
  </section>
  <!-- Like Us Area End -->
 
 <!-- course area -->
 <section class="course-area pt-80 pb-10">
  <div class="container">
    <!-- section title -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-10">
        <div class="section-title text-center">
          <h2>AQL Kalite Düzeyine göre Kalite Kontrol ve Denetim</h2>
          <p class="inf-ndx">  
            Kalite Kontrol Müdürlerimiz genel kalite kontrol sistemleri ve prosedürlerinden sorumludurlar. Uzman elemanlarımızın tümü, yüksek kalite standartlarını korumak için üretim ve denetim süreçleri konularında yüksek düzeyde bilgi sahibidirler.
          </div>
      </div>
    </div> 
  </div>
</section>

  <!-- footer area -->
  <footer class="pt-110">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="#"><img src="assets\img\slider\logo-white.png" alt="Logo"></a>
            </div>
            <div class="footer-text">
              <p>Müşterilerimiz ile yakın ilişkiler kurmayı ve sürekli gelişme ilkesini prensip edinerek, 40 yılı geride bırakmış bir Türk tekstil üreticisiyiz.<br><br>

                  Zamanla, büyük uluslararası markalar için önemli bir tedarikçi haline gelmeyi başardık. Teknik gelişim, kalite, yenilikçiliğe verdiğimiz önem, değerlerimizi yönlendirmeye devam etmektedir.</p>
            </div> 
          </div>
        </div> 
        <div class="col-xl-2 col-lg-2 col-md-6"></div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="footer-widget">
            <div class="footer-title">
              <h4>Sayfalar</h4>
            </div>

            <div class="f-latest-news">
              <h6><a href="gizlilik-politikasi.html">Gizlilik Politikası</a></h6> 
            </div>
            <div class="f-latest-news">
              <h6><a href="kisisel-veri-korumasi-ve-islenmesi.html">Kişisel Veri Korunması ve İşlenmesi</a></h6> 
            </div>
            <div class="f-latest-news">
              <h6><a href="kisisel-veri-saklama-ve-imha.html">Kişisel Veri Saklama ve İmha</a></h6> 
            </div>
            <div class="f-latest-news">
              <h6><a href="cerez.html">Çerez Politikası</a></h6>   
            </div>
            <div class="f-latest-news">
              <h6><a href="https://www.belgemodul.com/sirket/1783">Bilgi Toplumu Hizmetleri</a></h6> 
             </div> 
 
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="footer-widget lat-news-last"> 

             
            <div class="f-latest-news">
              <h6><a href="calisan-aydinlatma-metni.html">Çalışan Aydınlatma Metni</a></h6> 
            </div> 
            
            <div class="f-latest-news">
              <h6><a href="ilgili-kisi-basvuru-formu.html">İlgili Kişi Başvuru Formu</a></h6> 
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 mb-40">
          <div class="footer-contact">
            <div class="footer-title">
              <h4>İletişim Bilgileri</h4>
            </div>
            <div class="f-contact-text">
              <p><span class="mail-us">Firma Adı  : Erse Tekstil San. ve Tic A.Ş.</span></p>
              <p><span class="phone-us">Adres  :  Merkez Mahallesi, Oruc Reis Sk., 
                  No:5, 34197, Yenibosna, Istanbul, Turkey</span></p>  
            </div> 
          </div>
        </div> 
        <div class="col-xl-3 col-lg-3 col-md-3 mb-40">
            <div class="footer-contact">
              <div class="footer-title">
                <h4> </h4>
              </div>
              <div class="f-contact-text">
                <p><span class="mail-us">Telefon  : +90 212 451 4104</span></p>
                <p><span class="phone-us">E-posta  :  info@erse.com.tr</span></p>  
              </div> 
            </div>
          </div> 
        <div class="col-xl-3 col-lg-3 col-md-3 mb-40"> 
          <div class="footer-title">
            <h4> </h4>
          </div>
          <div class="footer-form">
              <form> 
                <button type="button" data-toggle="modal" data-target="#maps" >Harita Bilgisi için Tıklayınız</button>
              </form>
          </div>
          </div>
      </div> 
      <div class="row footer-copyright">
        <div class="col-xl-12 col-lg-12 text-center text-lg-left">
          <div class="copyright-text">
            <p>Copyright ©2020 Erse Tekstil San. ve Tic A.Ş. Tüm hakları saklıdır.</p>
          </div>
        </div> 
      </div>
    </div>
  </footer>
  <!-- footer area end -->
 
  <div class="modal fade bd-example-modal-lg" id="maps" tabindex="-1" role="dialog" aria-labelledby="maps" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="maps">Google Haritalar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1064.3951719201732!2d28.82060716187914!3d41.01291141203076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa48ec1d3488b%3A0x942359e4c8bb86b8!2sErse%20Tekstil%20San.%20Ve%20Tic.%20A.S.!5e0!3m2!1str!2suk!4v1601376479190!5m2!1str!2suk" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button> 
        </div>
      </div>
    </div>
  </div>


   <!-- Code end -->
   <section class="cookie" id="cookieSection">
    <div class="txt">
        <p class="">
          Sitemizi kullanımınız veya ziyaretiniz sırasında çerezler kullanılmaktadır. Çerezler hakkında detaylı bilgi almak için www.erse.com.tr adresinde yer alan Çerez(Cookie) Aydınlatma Metni’ni incelemenizi rica ederiz. <a href="https://www.erse.com.tr/demo/cerez.html" target="_blanck">Çerez Politikası</a>
          <br><br>Sitemizdeki kullanımınızı analiz etmek ve içerikleri kişiselleştirmek için çerezlerin kullanımına izin veriyorsanız, lütfen "Kabul Ediyorum" seçeneğini tıklayınız. 
        </p>
    </div>
<div>
   <a class="btn accept" id="accept">Kabul Ediyorum</a>
</div>
</section>
  <!-- Code end -->




</body>


