<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



    <!--********************************
    ***** Code Start From Here *****
    ******************************** -->

    <!-- preloader -->
    <!-- <div class="preloader"></div> -->




    <!-- course area -->
    <section class="course-area pt-80 pb-10">
        <div class="container">
            <!-- section title -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10">
                    <div class="section-title text-center">
                        <h2> Üretim</h2>
                        <p class="inf-ndx">
                            Erse olarak tedarik zinciri yönetiminde en ileri yardımı sunmaktan gurur duymaktayız. Yeni
                            kumaşlar, tasarımlar özel çözümler ve ileri lojistik çözümleri sunarak müşterilerimize
                            dinamik ortaklıklar sunmaktayız.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- FAQ Section -->
    <section class="faq-area-wrapper pt-10 pb-75">
        <div class="container">
            <div class="row">
                <!-- Faq Area -->
                <div class="col-xl-8 col-lg-8 col-md-8">
                    <div class="faq-wrapper">
                        <!-- Single FAQ -->
                        <div class="single-faq">
                            <div class="faq-question">
                                <h4>Teknik Geliştirme, Planlama, Deneyim ve Hızlı Hizmet</h4>
                            </div>
                            <div class="faq-answer">
                                <p>

                                    En güvenilir tesisler, kumaş ve aksesuar üreticileri ile çalışarak, en düşük
                                    maliyetleri elde ederek, en uygun sonucu almak için bu firmaları dikkatle
                                    yönetmekteyiz.
                                    Müşterilerimize mükemmel bir hizmet sunmak için, üretim sürecinin her aşamasında
                                    onlara destek vermek en önemli amacımızdır.

                                </p>
                            </div>
                        </div>
                        <!-- Single FAQ End -->
                        <!-- Single FAQ -->
                        <div class="single-faq">
                            <div class="faq-question">
                                <h4>Ürün Tasarımı</h4>
                            </div>
                            <div class="faq-answer">
                                <p>Ürün Tasarımı ekiplerimiz müşterilerimizin marka kimliğine göre kreasyonlar ve uygun
                                    fiyatlandırma oluşturmakla tanınır. Tasarımcılarımız geniş kapsamlı sektör bilgisi
                                    ve piyasa bilgisine sahiplerdir.

                                    Teknoloji uzmanlarımız WGSN ile işbirliği yaparak en ileri sektör istihbaratını
                                    tespit etmek için çalışırlar. Tasarımcılarımız ürün geliştirme sürecinin her
                                    aşamasında dikkatle trend analizleri yürütürler.</p>
                            </div>
                        </div>
                        <!-- Single FAQ End -->
                        <!-- Single FAQ -->
                        <div class="single-faq">
                            <div class="faq-question">
                                <h4>Kumaş Geliştirme</h4>
                            </div>
                            <div class="faq-answer">
                                <p>Geniş bir örme kumaş ürün yelpazesi tedarik ederek, teknik bilgilerinize göre ürün ve
                                    koleksiyonlarımızı geliştiriyoruz. Üretim sürecinin her aşamasını test edip, üretimi
                                    yakından izleyen bir teknik ekibimiz bulunmaktadır. Hedefimiz ürün değerlerini
                                    arttırıp, renk, tuşe, görünüm ve kalitede istenilen standartların karşılanmasını
                                    sağlamaktır.</p>
                            </div>
                        </div>
                        <!-- Single FAQ End -->
                        <!-- Single FAQ -->
                        <div class="single-faq">
                            <div class="faq-question">
                                <h4>Konfeksiyon Geliştirme ve Üretim</h4>
                            </div>
                            <div class="faq-answer">
                                <p>Erse uzmanlığı, kaliteli ve düşük maliyetli yenilikçi giysiler geliştirmemize izin
                                    vermektedir. Tasarımcılarımız sürekli yeni koleksiyonlar hazırlamakta ve
                                    müşterilerimizin prototip veya teknik bilgilerine dayanarak yeni ürünler
                                    geliştirebilmektedir.
                                    <br><br>
                                    Tedarik ekibimiz testler yaparak fabrikaları onaylamakta ve tüm tedarikçi
                                    fabrikaları sürekli denetime tabi tutmaktadır. Kapasitemizi optimize edip, yeni
                                    dikim teknikleri geliştirmek üzere sürekli çalışmalar yapmaktayız. Tüm numune
                                    çalışmaları, üretim öncesi hazırlık, dikim, maliyet ve toplu üretim taleplerinize
                                    göre optimize edilmek için benzersiz özelliklerde hazırlanmaktadır. Kesim, baskı ve
                                    nakışın yanı sıra yeni trendler için geliştirilen, birçok ıslak ve kuru teknikler
                                    uygulamaktayız.
                                    <br><br>
                                    İş ortaklarımız ve müşterilerimizin markalarının korunması ve müşteri gizliliği
                                    konularını dikkate alarak hareket etmekteyiz. Şeffaf iletişim ve hızlı teslimat
                                    yaklaşımıyla müşterilerimize hizmet vermekten gurur duyuyoruz.
                                </p>
                            </div>
                        </div>
                        <!-- Single FAQ End -->
                        <!-- Single FAQ -->
                        <div class="single-faq">
                            <div class="faq-question">
                                <h4>Akıllı Etkili ve Süratli</h4>
                            </div>
                            <div class="faq-answer">
                                <p>Ticari ve tedarik ekibimiz uygun fiyat, esnek üretim ve teslimat sağlamak için el ele
                                    çalışır. Kalite güvencemiz, giysilerin üretiminin yapıldığı fabrikalardaki tüm
                                    üretim aşamasını kapsar. Malzemelerin kabul kontrolleri, imalat, paketleme ve AQL
                                    sevkiyat standartları ile gerçekleşen nakliye hizmetlerinin tümüne uygulanır.

                                    Müşterilerimizin ihtiyaçlarına göre teslimat gerçekleştirmek için, sevkiyatın her
                                    bölümünü dikkatlice yönetmeye özen gösteririz. Lojistik departmanımız, düşük maliyet
                                    elde etmek için ön denetim yaparak, yüklemede optimizasyonu sağlamak için çözümler
                                    bulmaya çalışır.</p>
                            </div>
                        </div>
                        <!-- Single FAQ End -->
                    </div>
                </div>
                <!-- Faq Area End -->
                <div class="col-xl-4 col-lg-4 col-md-4">

                    <a href="#"><img style="width: 100%;" src="assets\img\uret.jpg" alt="News"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ Section End -->

    <!-- footer area -->
    <footer class="pt-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="#"><img src="assets\img\slider\logo-white.png" alt="Logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Müşterilerimiz ile yakın ilişkiler kurmayı ve sürekli gelişme ilkesini prensip edinerek,
                                40 yılı geride bırakmış bir Türk tekstil üreticisiyiz.<br><br>

                                Zamanla, büyük uluslararası markalar için önemli bir tedarikçi haline gelmeyi başardık.
                                Teknik gelişim, kalite, yenilikçiliğe verdiğimiz önem, değerlerimizi yönlendirmeye devam
                                etmektedir.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6"></div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-title">
                            <h4>Sayfalar</h4>
                        </div>

                        <div class="f-latest-news">
                            <h6><a href="gizlilik-politikasi.html">Gizlilik Politikası</a></h6>
                        </div>
                        <div class="f-latest-news">
                            <h6><a href="kisisel-veri-korumasi-ve-islenmesi.html">Kişisel Veri Korunması ve
                                    İşlenmesi</a></h6>
                        </div>
                        <div class="f-latest-news">
                            <h6><a href="kisisel-veri-saklama-ve-imha.html">Kişisel Veri Saklama ve İmha</a></h6>
                        </div>
                        <div class="f-latest-news">
                            <h6><a href="cerez.html">Çerez Politikası</a></h6>
                        </div>
                        <div class="f-latest-news">
                            <h6><a href="https://www.belgemodul.com/sirket/1783">Bilgi Toplumu Hizmetleri</a></h6>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-widget lat-news-last">


                        <div class="f-latest-news">
                            <h6><a href="calisan-aydinlatma-metni.html">Çalışan Aydınlatma Metni</a></h6>
                        </div>

                        <div class="f-latest-news">
                            <h6><a href="ilgili-kisi-basvuru-formu.html">İlgili Kişi Başvuru Formu</a></h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 mb-40">
                    <div class="footer-contact">
                        <div class="footer-title">
                            <h4>İletişim Bilgileri</h4>
                        </div>
                        <div class="f-contact-text">
                            <p><span class="mail-us">Firma Adı : Erse Tekstil San. ve Tic A.Ş.</span></p>
                            <p><span class="phone-us">Adres : Merkez Mahallesi, Oruc Reis Sk.,
                                    No:5, 34197, Yenibosna, Istanbul, Turkey</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 mb-40">
                    <div class="footer-contact">
                        <div class="footer-title">
                            <h4> </h4>
                        </div>
                        <div class="f-contact-text">
                            <p><span class="mail-us">Telefon : +90 212 451 4104</span></p>
                            <p><span class="phone-us">E-posta : info@erse.com.tr</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 mb-40">
                    <div class="footer-title">
                        <h4> </h4>
                    </div>
                    <div class="footer-form">
                        <form>
                            <button type="button" data-toggle="modal" data-target="#maps">Harita Bilgisi için
                                Tıklayınız</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row footer-copyright">
                <div class="col-xl-12 col-lg-12 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright ©2020 Erse Tekstil San. ve Tic A.Ş. Tüm hakları saklıdır.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <div class="modal fade bd-example-modal-lg" id="maps" tabindex="-1" role="dialog" aria-labelledby="maps"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="maps">Google Haritalar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1064.3951719201732!2d28.82060716187914!3d41.01291141203076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa48ec1d3488b%3A0x942359e4c8bb86b8!2sErse%20Tekstil%20San.%20Ve%20Tic.%20A.S.!5e0!3m2!1str!2suk!4v1601376479190!5m2!1str!2suk"
                        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Code end -->
    <section class="cookie" id="cookieSection">
        <div class="txt">
            <p class="">
                Sitemizi kullanımınız veya ziyaretiniz sırasında çerezler kullanılmaktadır. Çerezler hakkında detaylı
                bilgi almak için www.erse.com.tr adresinde yer alan Çerez(Cookie) Aydınlatma Metni’ni incelemenizi rica
                ederiz. <a href="https://www.erse.com.tr/demo/cerez.html" target="_blanck">Çerez Politikası</a>
                <br><br>Sitemizdeki kullanımınızı analiz etmek ve içerikleri kişiselleştirmek için çerezlerin
                kullanımına izin veriyorsanız, lütfen "Kabul Ediyorum" seçeneğini tıklayınız.
            </p>
        </div>
        <div>
            <a class="btn accept" id="accept">Kabul Ediyorum</a>
        </div>
    </section>
</body>